@charset "utf-8";
/*------------------------------------------------------------
	photo01
------------------------------------------------------------*/
body {
	background-color: #fff;
}
#main .bg {
	padding: 52px 27px 64px;
	text-align: center;
	background-color: #BBB;
}
#main .bg01 {
	padding: 52px 38px 64px;
}
#main .btmBox {
	padding: 28px 0 20px;
	background-color: #fff;
}
#main .btmBox p {
	margin-bottom: 28px;
	color: #B04940;
	font-size: 1.6rem;
	text-align: center;
	line-height: 1.25;
}
#main .btmBox .comLinkList {
	margin: 0 auto;
	max-width: 624px;
}
#main .confirm .bg {
	padding-bottom: 133px;
}
@media all and (max-width: 767px) {
	#main .btmBox .comLinkList {
		max-width: inherit;
	}
}